.playerContainer {
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.playerControls {
	&__time {
		width: 50%;
		display: flex;

		p {
			padding: 1rem;
		}

		input {
			width: 100%;
			padding: 1rem 0rem;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		width: 30%;

		svg {
			cursor: pointer;
		}
	}
}
